<!-- @format -->

<section class="app-header" fxLayout="row">
  <section class="logo-section" fxLayout="row">
    <img src="../../assets/images/mindtree-logo.svg" class="logo" />
    <span class="title">Eco-Car Rental Services</span>
  </section>
  <section class="nav-menu" fxLayout="row">
    <button
      *ngIf="this.show; else loggedOut"
      mat-raised-button
      color="primary"
      (click)="onRegisterLoginClick()"
    >
      Login/Register
    </button>
    <ng-template #loggedOut>
      <button
      mat-raised-button
      color="primary"
      (click)="onlogoutClick()"
    >
      Logout
    </button>
    </ng-template>
    

    <button
      mat-button
      class="menu-button"
      (click)="clicked()"
      clickOutside
      (clickOutside)="onClickedOutside()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </section>
</section>
<div class="side-nav-container" *ngIf="isMenuOpen">
  <section class="menu-items" fxLayout="column">
    <a mat-button routerLink="/Home" routerLinkActive="active-link">Home</a>
    <a mat-button routerLink="/user" routerLinkActive="active-link"
      >My Profile</a
    >
    <a mat-button routerLink="/leaderboard" routerLinkActive="active-link"
      >leadersboard</a
    >
  </section>
</div>
