.results-section {
  margin: 4em;
  padding: 20px;
}
.results {
  border: 1px solid #dbdbdb;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.217384);
  border-radius: 2px;
  padding: 10px;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  display: flex;
  justify-content: space-between;
  .image {
    height: 150px;
    width: 250px;
  }
}
