.search-form-container {
  // position: absolute;
  background: transparent;
  margin: 10px;
  .search-section {
    gap: 20px;
    display: flex;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      gap: 30px;
    }
  }
}

.index-one {
  z-index: 1;
}

.form-field {
  background: transparent;
  border-radius: 4px;
  width: 300px;
  background: #f8f8f8;
  &:active,
  &:hover,
  &:focus {
    box-shadow: 2px 2px 5px 0px rgba(128, 128, 128, 0.7);
    transition: box-shadow 0.3s linear;
  }
  @media screen and (max-width: 767px) {
    height: 35px;
    width: 300px;
  }
  @media (min-width: 768px) and (max-width: 937px) {
    width: 200px;
  }
}
::ng-deep .mat-form-field-wrapper {
  margin: 0 !important;
  @media screen and (max-width: 767px) {
    // margin-top: -5px;
  }
  padding: 0;
  .mat-form-field-underline {
    display: none;
  }
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(0, 0, 0) !important;
}
.search-form-field {
  background: transparent;
}
.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 5px;
  @media screen and (max-width: 767px) {
    gap: 38px;
  }
}
.center {
  text-align: center;
  align-items: center;
  button {
    max-width: 300px;
  }
}
.unavailable-msg-section {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-weight: 500;
}
.mat-h2 {
  font-size: 18px;
  margin: 0 !important;
  font-family: sans-serif;
}
.mat-h3 {
  font-size: 14px;
  margin: 0;
}

mat-label{
  font-weight: bold;
}
