<section class="search-form-container">
  <form [formGroup]="searchForm">
    <section class="form-section">
      <section class="location-section search-section">
        <mat-form-field class="form-field index-one" appearance="outline">
          <mat-label>Country</mat-label>
          <mat-select
            required
            formControlName="country"
            (selectionChange)="onSelectionChange($event)"
          >
            <mat-option
              *ngFor="let country of countryList"
              [value]="country.value"
              >{{ country.label }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form-field index-one" appearance="outline">
          <mat-label>City</mat-label>
          <mat-select required formControlName="city">
            <mat-option *ngFor="let city of cityList" [value]="city?.value">{{
              city.label
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </section>
      <section class="dates-section search-section">
        <mat-form-field appearance="outline" class="form-field index-one">
          <mat-label>Pickup Date</mat-label>
          <input
            matInput
            formControlName="pickupDate"
            [matDatepicker]="startDatePicker"
            (keydown.enter)="$event.preventDefault()"
            [min]="minDate"
          />
          <mat-datepicker-toggle
            [for]="startDatePicker"
            matSuffix
          ></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker color="primary"> </mat-datepicker>
        </mat-form-field>
        <mat-form-field class="form-field index-one" appearance="outline">
          <mat-label>Return Date</mat-label>
          <input
            matInput
            [min]="searchForm.get('pickupDate')?.value"
            formControlName="returnDate"
            [matDatepicker]="returnDatePicker"
            (keydown.enter)="$event.preventDefault()"
          />
          <mat-datepicker-toggle
            [for]="returnDatePicker"
            matSuffix
          ></mat-datepicker-toggle>
          <mat-datepicker #returnDatePicker color="primary"> </mat-datepicker>
        </mat-form-field>
      </section>
      <section class="center" fxLayout="column">
        <button
          mat-flat-button
          color="primary"
          [disabled]="searchForm.invalid"
          (click)="onSearch()"
        >
          Find Cars
        </button>
        <section class="unavailable-msg-section" *ngIf="carsUnavailable">
          <span class="mat-h2"
            >Sorry, No cars available at the Selected time.
          </span>
          <span class="mat-h3">Try with different slots/ try again later.</span>
        </section>
      </section>
    </section>
  </form>
</section>
