<section class="application-container" fxLayout="row">
  <section fxFlex="100" fxFill fxLayout="column">
    <app-header></app-header>
    <section class="application-page-container">
      <router-outlet></router-outlet>
    </section>
    <section class="footer">
      <H2><footer>
 <a href=
"">About Us</a>|
                    <a href=
"">Privacy Policy</a>|
                    <a href=
"">Careers</a>
                 
             
 
<p>@ecocarrentals, Some rights reserved</p></footer></H2>
    </section>
  </section>
</section>
